@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

/* utility classes */
.flex{
display: flex;
align-items: center;
}

:root{
 /* primar colors */

--our-magenta: hsl(300, 43%, 22%);
--soft-pink: hsl(333, 80%, 67%);

/* nutral colors */

--grayish-magenta: hsl(303, 10%, 53%);
--light-grayish-magenta: hsl(300, 24%, 96%);
--White: hsl(0, 0%, 100%);
}

/* resets */

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "League Spartan", sans-serif;
}
body{
 background-color: var(--White);
 font-size: 15px;
}
main{
 padding-inline: 20px;
 padding-block: 40px;
}
.container{
 width: 300px;
 margin: auto;
 /* background-color: orange; */
height: auto;
background-image: url(./bg-pattern-top-mobile.svg), url(./bg-pattern-bottom-mobile.svg);
  background-size: 200px;
  background-position: top left, bottom left;
  background-repeat: no-repeat;
}

/* top content css */

.top-content h1{
 /* font-weight: 500; */
 font-size: 25px;
 width: 200px;
 text-align: center;
 margin: auto;
 color: var(--our-magenta);
}
.top-content p{
 text-align: center;
 margin-block: 20px;
 color: var(--grayish-magenta);
 /* width: 300px; */
}

.wrapper-box-one{
 flex-direction: column;

}
p{
 line-height: 22px
}
.rating-box{
 text-align: center;
 width: 300px;
 padding-inline: 10px;
 padding-block: 10px;
 border-radius: 5px;
 /* flex-direction: column; */
 background-color: var(--light-grayish-magenta);
 /* gap: 10px; */
 flex-direction: column;
 gap: 2px;
}
.top-content.part_two{
 flex-direction: column;
 gap: 15px;
}
.rating-box b{
 color: var(--our-magenta);
}
.sub-top-content{
margin-block: 40px;
}


.img-box img{
 border-radius: 50%;
 width: 40px;
 height: 40px;
}
.persion-info-box {
 gap: 20px;
}

.review-box{
 background-color: var(--our-magenta);
 /* padding: 15px 15px 15px 15px; */
 /* width: 300px; */
 border-radius: 8px;
 flex-direction: column;
 gap: 20px;
 padding-inline: 10px;
 padding-block: 10px;
}
.review-box p{
 color: var(--White);
 /* text-align: ; */
}
.name-box b{
 color: var(--White);
}
.name-box span{
 color: var(--soft-pink);
}

.sub-top-content{

 flex-direction: column;
 gap: 20px;
}


/* media querys */

@media screen and (width >= 1440px) {
 .container{
  width: 900px;
  /* background-color: skyblue; */
  padding-inline: 40px;
  padding-block: 40px;
  margin-top: 5%;
  background-image: url(./bg-pattern-top-desktop.svg), url(./bg-pattern-bottom-desktop.svg);
  background-size: 300px;
  background-position: top left, bottom left;
  background-repeat: no-repeat;
  
 }

 .wrapper-box-one{
  flex-direction: row;
  /* gap: 50px; */
 }

 .top-content h1{
 /* font-weight: 500; */
 font-size: 30px;
 width: 50%;
 text-align: left;
 margin: 0!important;
 color: var(--our-magenta);
}
.top-content.part_one,
.top-content.part_two{
 width: 50%;
}
.top-content p{
 text-align: left;
 margin-block: 20px;
 color: var(--grayish-magenta);
 /* width: 300px; */
}
.sub-top-content{
 flex-direction: row;
 justify-content: space-between;
}
.rating-box{
 flex-direction: row;
 gap: 10px;
}
.rating-box.two{
 margin-left: 15%;
}

.rating-box.three{
 margin-left: 30%;
}
.mybottom{
 margin-bottom: -5%;
}
.mybottom-two{
 margin-bottom: -10%;
}
}
